html
{
    color: #777777;
}

#header h1
{
    line-height: 1.35em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

#menu
{
    padding: 20px 20px 0px 20px;
    width: 250px;
    float: left;
    background-color: #F7F7F7;
}

#content
{
    float: left;
}

table.speelveld
{
    border-collapse: collapse;
}

.speelveld td
{
    padding: 2px;
    cursor: pointer;
}

.celfoto
{
    height: 100px;
    width: 100px;
    padding: 0;
    box-shadow: 2px 2px 5px #888888;
    border-radius: 7px;
}

.celletter
{
    display: table-cell;
    height: 100px;
    width: 100px;
    padding: 0;
    box-shadow: 2px 2px 5px #888888;
    border-radius: 7px;
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
}

.knop
{
    background-color:#EDEDED;
    border-radius: 5px;
    border:1px solid #969696;
    display:inline-block;
    color: #777777;
    font-family: arial;
    font-size: 15px;
    font-weight:bold;
    font-style:normal;
    height:50px;
    line-height:50px;
    width:100px;
    text-decoration:none;
    text-align:center;
}

.knop:hover
{
    background-color: #CBCBCB;
}

.knop:active 
{
    position: relative;
    top: 3px;
}

.knop:disabled
{
    color: #B5B5B5;
    background-color: #DEDEDE;
}

.knop:disabled:hover
{
    color: #B5B5B5;
    background-color: #DEDEDE;
}

#copyright
{
    padding: 30px 0px 0px 0px;
}
